
.navbar-brand {
    color: white;
    font-size: 55px;
    margin-left:48%;
}

.content-left {
    margin-left: 50px;
}

input {
    width: 0%;
    float: none;
}

.radio-inline {
   padding:10px;
   

   
}